{% extends 'layout.html.twig' %}
{% block title %}
    Listar Carrito
{% endblock %}
{% block content %}
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 center-horizontal">
                <form method="post" action="">
                  <h3>Carrito de Compras</h3>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Descipción</th>
                          <th>Precio Total</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for  detalle in carrito %}
                        <tr>
                          <td id="description">{{ detalle[0].descripcion }}</td>
                          <td id="price">{{ detalle[0].total }}</td>
						  <td><a href="index.php?action=eliminar_servicio_carrito&tipo={{ detalle[0].tipo }}&&id={{detalle[0].id}}">Eliminar</a></td>
					    </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <input class="btn btn-xs" type="submit" value="Pagar"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
